<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282449093607-kv4jcukbt21t3rbeuki0r0ct91eb0br3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282449093607-kv4jcukbt21t3rbeuki0r0ct91eb0br3</string>
	<key>API_KEY</key>
	<string>AIzaSyDYnyNMs9NFtphMJWHY1EnFcjw_l_ln-aw</string>
	<key>GCM_SENDER_ID</key>
	<string>282449093607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mblocxperienceapp</string>
	<key>PROJECT_ID</key>
	<string>m-bloc-x</string>
	<key>STORAGE_BUCKET</key>
	<string>m-bloc-x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282449093607:ios:f7cc67a59396cff693d342</string>
</dict>
</plist>