<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559476656127-cojtr13hf4dbcr85mr3daeh0bfcnsq9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559476656127-cojtr13hf4dbcr85mr3daeh0bfcnsq9e</string>
	<key>API_KEY</key>
	<string>AIzaSyDDbj8hIdTXgdtM_jO4KjrKFI9FXo3fWsE</string>
	<key>GCM_SENDER_ID</key>
	<string>559476656127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.komoto</string>
	<key>PROJECT_ID</key>
	<string>komoto-74a11</string>
	<key>STORAGE_BUCKET</key>
	<string>komoto-74a11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559476656127:ios:86f87346e736dbd63e49ca</string>
</dict>
</plist>